<H1>My Jupyter Notebook on IBM Watson Studio</h1>

<h2><b>Ramanpreet Singh</b></h2>
<p>Student in Algonquin college</p>

<p><i>I am intrested in data science as this gives so much of opportunity for  imporvement which we cannot do because of lack of knowlegde and facts. This helps to find so many answers and solutions to the problems we are facing in real world problems.</i></p>

<h3>The bottom code will define the for loop in the list</h3>

In [3]:
cars = ["Ford", "BMW", "Mercedes", "Toyota"]
for x in cars: print(x)

Ford
BMW
Mercedes
Toyota

<p>Monthly saving and expenditure.</p>
<table>
    <tr>
        <th>Month</th>
        <th>Earned in </th>
        <th>Spend</th>
        <th>Saved</th>
    </tr>
    <tr>
        <td>January</td>
        <td>&#x24;10000<td>
        <td>&#x24;7500</td>
        <td>&#x24;2500</td>
    </tr>
    <tr>
        <td>February</td>
        <td>&#x24;11000</td>
        <td>&#x24;9000</td>
        <td>&#x24;2000</td>
    </tr>
    <tr>
        <td>March</td>
        <td>&#x24;10500</td>
        <td>&#x24;9500</td>
        <td>&#x24;1000</td>
    </tr>
    <tr>
        <td>April</td>
        <td>&#x24;11000</td>
        <td>&#x24;10000</td>
        <td>&#x24;1000</td>
    </tr>
</table>

<ol>
    <li>Ford</li>
    <li>BMW</li>
    <li>Mercedes</li>
    <li>Toyota</li>
</ol>


<a href = "https://www.youtube.com/">Click here to open Youtube</a>